
/*ADMIN*/
.admin
{
    padding: 50px !important;
    background: #fff;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 50px !important;
}
.help-inline
{
    color: red;
}
















